<template>
<div class="table-container">
  <table class="table scroll">
    <thead>
      <tr>
        <th v-for="(key, index) in columns"
          @click="key.sort && setSortKey(key.title)"
          :key="index"
          :class="{ active: sortKey == key.title }">
          {{ key.title | capitalize }}
          <span :class="key.sort ? sortOrders[key.title] > 0 ? 'asc arrow' : 'dsc arrow' : ''">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in currentPageData" :key="entry.id">
        <td
          v-for="(key, id) in columns"
          :key="id"
          :style="{ 'max-width': key.width, 'min-width': key.width }"
        >
          <slot :name="key.title" :data="entry">
            {{entry[key.title]}}
          </slot>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagin mb-4">
    <button class="button mr-4" @click="prevPage" :disabled="currentPage === 1">
        Previous
    </button>
    <div
      class="number hide-buttons buttons"
      v-for="i in numPages()"
      :key="i"
      v-bind:class="[i == currentPage ? 'active' : '']"
      v-on:click="changePage(i)"
    >
      {{ i }}
    </div>
    <button class="button ml-4" @click="nextPage" :disabled="currentPage >= numPages()">
      Next
    </button>
  </div>
</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'Grid',
  props: {
    data: {
      type: Array,
      default: () => ([]),
    },
    columns: {
      type: Array,
      default: () => ([]),
    },
    filterKey: {
      type: String,
      default: null,
    },

  },
  data() {
    return {
      elementsPerPage: 3,
      pageLength: [3, 5, 10],
    };
  },
  filters: {
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },
  },
  computed: {
    ...mapState({
      currentPage: 'currentPage',
      sortKey: 'sortKey',
      sortOrders: 'sortOrders',
    }),
    filteredData() {
      const sortKey = this.sortKey;
      const filterKey = this.filterKey && this.filterKey.toLowerCase();
      const order = this.sortOrders[sortKey] || 1;
      let profiles = this.data;
      if (filterKey) {
        profiles = profiles.filter(row => row.company.name.toLowerCase()
          .indexOf(filterKey) > -1,
        );
      }
      if (sortKey) {
        profiles = profiles.slice().sort((a, b) => {
          const c = a[sortKey];
          const d = b[sortKey];
          if (c === d) {
            return 0 * order;
          }
          if (c > d) {
            return 1 * order;
          }
          return -1 * order;
        });
      }
      return profiles;
    },
    currentPageData() {
      const start = (this.currentPage - 1) * this.elementsPerPage;
      const end = start + this.elementsPerPage;
      return this.filteredData.slice(start, end);
    },
  },
  watch: {
    filterKey() {
      this.setСurrentPage(1);
    },
    elementsPerPage() {
      this.setСurrentPage(1);
    },
  },
  methods: {
    ...mapMutations(['setSortKey', 'setСurrentPage']),
    numPages() {
      return Math.ceil(this.filteredData.length / this.elementsPerPage);
    },
    changePage(page) {
      this.setСurrentPage(page);
    },
    nextPage() {
      this.setСurrentPage(this.currentPage + 1);
    },
    prevPage() {
      this.setСurrentPage(this.currentPage - 1);
    },
  },
};
</script>

<style scoped>
thead th {
  cursor: pointer;
  color: #FFF;
}

thead tr {
  text-align: right;
  background-color: #009879;
  color: #ffffff;
}

td {
  vertical-align: middle;
}

th,
td {
  padding: 10px 20px;
}

th.active {
  font-weight: 800;
  color: #FFF;
}

th.active .arrow {
  opacity: 1;
}

tbody tr {
  text-align: right;
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.pagin {
  float: left;
  bottom: 0px;
  flex-wrap: nowrap;
  display: flex;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

a {
  color: #42b983;
}

.number {
  display: inline-block;
  padding: 4px 10px;
  color: #FFF;
  border-radius: 4px;
  background: #009879;
  margin: 0px 5px;
  cursor: pointer;
}
.number.active {
  background: #717699;
}

.table-container {
  overflow: hidden;
}

@media (min-width: 800px) {
  .scroll {
    overflow-x: auto;
  }
}

@media (max-width: 500px) {
  .hide-buttons {
    display: none;
  }
}

.scroll {
  display: block;
  max-width: fit-content;
  overflow: auto;
  white-space: nowrap;
}
</style>
