<template>
  <div class="container cont">
    <spinner v-if="isLoading"></spinner>
    <div class="search my-4 is-flex is-justify-content-space-between wrap-select">
      <h3 class="subtitle is-3">Users</h3>
      <custom-select
        :value="company"
        :options="allCompany"
        @change="setCompany"
        class="mb-4"
      />
      <custom-select
        @change="setSortKey"
        class="hide"
        :value="sortKey"
        :options="sortedOption"
        label="-- select sort --"
      />
    </div>
    <Grid
      :data="userList"
      :columns="gridColumns"
      :filter-key="company"
    >
      <template v-slot:avatar="{ data: { id } }">
        <router-link :to="`/user/${id}`">
          <img  src="https://via.placeholder.com/120x180" />
        </router-link>
      </template>
      <template v-slot:name="{ data: { id, name } }">
        <router-link :to="`/user/${id}`">
          {{name}}
        </router-link>
      </template>
      <template v-slot:address="{ data: { address } }">
        {{ address.city }}, {{ address.street }}, {{ address.suite }}
      </template>
    </Grid>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';
import Grid from './Grid';
import CustomSelect from '../common/Select';
import Spinner from '../common/Spinner';

export default {
  name: 'UserTable',
  components: {
    Grid,
    CustomSelect,
    Spinner,
  },
  data() {
    return {
      gridColumns: [{
        title: 'avatar',
        sort: false,
        width: '120px',
      }, {
        title: 'name',
        width: '200px',
        sort: true,
      }, {
        width: '160px',
        title: 'username',
        sort: true,
      }, {
        width: '252px',
        title: 'email',
        sort: true,
      }, {
        width: '370px',
        title: 'address',
        sort: true,
      }],
    };
  },
  computed: {
    ...mapState({
      company: 'company',
      sortKey: 'sortKey',
    }),
    ...mapGetters({
      userList: 'allUsers',
      allCompany: 'allCompany',
      isLoading: 'isLoading',
    }),
    sortedOption() {
      return this.gridColumns
        .filter(c => c.sort)
        .map(c => ({ value: c.title, name: c.title }));
    },
  },
  methods: {
    ...mapMutations(['setSortKey', 'initSortOrders', 'setCompany']),
    fetchUsers() {
      this.$store.dispatch({ type: 'fetchUsers' });
    },
  },
  mounted() {
    this.fetchUsers();
    this.initSortOrders(this.sortedOption);
  },
};
</script>

<style scoped>
  @media (min-width: 800px) {
    .hide {
      display: none;
    }
  }

  @media (max-width: 650px) {
    .wrap-select {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .cont {
    max-width: 95%;
    margin: 0 auto;
  }
</style>
