<template>
<div>
  <div class="select">
    <select
      @input="evt => { $emit('change', evt.target.value) }"
      :value="value"
    >
      <option
        :value="null"
        selected
      > {{ label }} </option>
      <template v-for="(option, optionIdx) in options">
        <option
          :key="optionIdx"
          :value="option.value"
          v-text="option.name">
        </option>
      </template>
    </select>
  </div>
</div>
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'change',
  },
  name: 'CustomSelect',
  props: {
    label: {
      type: String,
      default: '-- select a company --',
      required: false,
    },
    value: {
      type: String,
      default: null,
      required: false,
    },
    options: {
      type: Array,
      default: () => [],
      required: true,
    },
  },
};
</script>

<style scoped>
  .clear::before {
    content: '\2716';
    cursor: pointer;
  }
</style>
