<template>
  <div id="app">
    <header></header>
    <router-view/>
    <footer></footer>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body, html {
  height: 100%;
}

header {
  height: 60px;
  width: 100%;
  background-color: #009879;
}

footer {
  height: 40px;
  width: 100%;
  background-color: #009879;
}

.col {
  flex: 10000 1 0%;
}

</style>
