<template>
  <div>
    <div class="columns container">
      <div class="column col">
        <figure class="1by1 has-text-centered"><img src="https://via.placeholder.com/120x180" alt=""></figure>
      </div>
      <div class="column col">
        <table class="table">
          <tr><th>Name</th><td>{{ user.name  }}</td></tr>
            <tr><th>Email</th><td>{{ user.email  }}</td></tr>
            <tr><th>Phone</th><td>{{ user.phone }}</td></tr>
            <tr><th>Username</th><td>{{ user.username }}</td></tr>
            <tr><th>Website</th><td>{{ user.website }}</td></tr>
            <tr><th>Address</th><td>{{ user.address.suite }}, {{ user.address.street }}<br/>
              {{ user.address.zipcode }} {{ user.address.city }}, {{ user.address.geo }}</td></tr>
            <tr><th>Company name</th><td>{{ user.company.name  }}</td></tr>
            <tr><th>Company Catch Phrase</th><td>{{ user.company.catchPhrase  }}</td></tr>
            <tr><th>Company bs</th><td>{{ user.company.bs }}</td></tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'PersonTab',
  computed: {
    ...mapGetters({
      user: 'singleUser',
    }),
  },
};
</script>

<style scoped>
.table tr th, tr td {
  text-align: left;
  border-bottom: none;
  padding-left: 0;
}

.icon {
  margin-right: 10px !important;
}
.button.is-fullwidth {
  margin: 10px auto;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .button.is-fullwidth {
    justify-content: center
  }
}
</style>
