<template>
  <div v-if="!isLoading">
    <div class="tabs is-centered">
      <ul>
        <li v-for="tab in tabs" :key="tab" :class="{ 'is-active': tab == activeTab }">
          <a @click="setTab(tab)">{{ tab }}</a>
        </li>
      </ul>
    </div>
    <component :is="activeTab"></component>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Profile from './PersonTab';
import Tasks from './TaskTab';

export default {
  props: ['user'],
  components: { Profile, Tasks },
  data() {
    return {
      tabs: ['Profile', 'Tasks'],
      activeTab: 'Profile',
    };
  },
  methods: {
    setTab(tab) {
      this.activeTab = tab;
    },
  },
  computed: {
    ...mapGetters({
      isLoading: 'isLoading',
    }),
  },
};
</script>

<style scoped>
.tabs li.is-active a {
  color: hsl(0, 0%, 20%);
  border-bottom-color: hsl(0, 0%, 20%);
}

.tabs li a {
  color: #7a7a7a;
}
</style>
