<template>
  <div class="columns is-mobile task">
    <div class="column is-8 is-offset-2">
      <div class="scroll">
        <ul class="tasks" v-if="tasks.length">
          <li v-for="task in tasks" :key="task.id">
            <input type="checkbox" :checked="task.completed" disabled>
            {{ task.id }}
            <span :class="{ done: task.completed }">{{ task.title }}</span>
          </li>
        </ul>
      </div>
      <p v-if="!tasks.length">No tasks to display.</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'UserTasks',
  computed: {
    ...mapGetters({
      tasks: 'tasks',
    }),
  },
};
</script>

<style scoped>
.task {
  justify-content: center;
}

.tasks {
  text-align: left;
  padding-top: 1rem;
}

.done {
  text-decoration: line-through;
}

.tasks li {
  line-height: 2rem;
}

.scroll {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
</style>
