<template>
<div>
  <div>
    <section class="hero is-bold">
      <div class="hero-body columns">
        <div class="container column is-10 is-offset-1">
          <h2 class="title is-2">Пользователь не найден</h2>
          <router-link to="/users" class="button">
            Go Back
          </router-link>
        </div>
      </div>
    </section>
  </div>
</div>
</template>

<script>

export default{
  name: 'UserProfile',
};
</script>

<style>
.hero {
  background-color: #009879;
}
</style>
