<template>
<div class="flex-2">
  <spinner v-if="isLoading"></spinner>
  <div v-if="user && !isLoading">
    <section class="hero is-bold">
      <div class="hero-body columns">
        <div class="columns container">
          <router-link to="/users" class="is-align-self-center
            has-text-white col">
            Go Back
          </router-link>
          <h2 class="title col has-text-left">{{ user.name }}</h2>
        </div>
      </div>
    </section>
    <tabs :user="user"></tabs>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import Spinner from '../common/Spinner';
import Tabs from './Tabs';

export default{
  name: 'UserProfile',
  beforeMount() {
    this.loadInfo();
  },
  watch: {
    $route() {
      this.loadInfo();
    },
  },
  components: {
    Tabs,
    Spinner,
  },
  computed: {
    ...mapGetters({
      user: 'singleUser',
      tasks: 'tasks',
      isLoading: 'isLoading',
    }),
  },
  methods: {
    loadInfo() {
      const id = this.$route.params.id;
      this.$store.dispatch({ type: 'fetchUserById', id })
        .then((data) => {
          if (data) {
            this.$router.push({ name: 'UserNotFound' });
          }
        }, () => {});
      this.$store.dispatch({ type: 'fetchTasksById', id });
    },
  },
};
</script>

<style scoped>
.hero {
  background-color: #009879;
}

.flex-2 {
  flex: 2;
}

@media (max-width:900px) {
  .hero-body {
    padding: 2rem;
  }
  .title.is-2 {
    font-size: 1.75rem;
  }
  .subtitle.is-3 {
    font-size: 1.25rem;
  }
  .button.is-fullwidth {
    justify-content: center;
  }
}
</style>
